name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "maven"

      - name: Unit tests
        run: mvn -B -ntp clean test

      - name: Package
        run: mvn -B -ntp package -DskipTests

      - name: Log in to GHCR
        if: github.event_name == 'push'
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Docker build
        run: |
          IMAGE="ghcr.io/${{ github.repository }}/simple-ci-demo"
          docker build -t "$IMAGE:${{ github.sha }}" .

      - name: Docker push
        if: github.event_name == 'push'
        run: |
          IMAGE="ghcr.io/${{ github.repository }}/simple-ci-demo"
          docker push "$IMAGE:${{ github.sha }}"

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar
          if-no-files-found: error
          retention-days: 7

  integration-tests:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: unit-tests

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "maven"

      - name: Integration tests (verify)
        run: mvn -B -ntp -DskipTests -DskipITs=false verify